# Continuous integration workflow
name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  run:
    name: CI
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system:
          - ubuntu-22.04
          #- windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup latest GCC and build dependencies
        run: |
          sudo apt install gcc-12 g++-12
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-12 110 --slave /usr/bin/g++ g++ /usr/bin/g++-12 --slave /usr/bin/gcov gcov /usr/bin/gcov-12 --slave /usr/bin/gcc-ar gcc-ar /usr/bin/gcc-ar-12 --slave /usr/bin/gcc-ranlib gcc-ranlib /usr/bin/gcc-ranlib-12

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19.x
          cache: npm

      - name: npm install
        run: npm install

      - name: Lint
        run: npm run format-check
        if: startsWith(matrix.operating-system, 'ubuntu')

      - name: npm test
        run: npm test

      - name: Setup Spice - Linux
        if: startsWith(matrix.operating-system, 'ubuntu')
        run: npm run start

      - name: Setup Spice - Windows
        if: startsWith(matrix.operating-system, 'ubuntu')
        run: npm run start:win

      - name: Compile test file
        working-directory: media
        run: spice run test-file.spice

      - name: audit packages
        run: npm audit --audit-level=high
        if: matrix.operating-system == 'ubuntu-latest'